.wrapper {
   display: flex;
   justify-content: center;
   color: blue;
   transition: 0.3s;

   .item-list {
      display: flex;
      flex-wrap: wrap;

      .item {
         list-style: none;

         .item-link {
            padding: 4px;
            text-align: center;
            border: 1px solid rgba(86, 86, 86, 0.3);
            user-select: none;
            cursor: pointer;

            &.active {
               color: white;
               background: #0d6efd;
               border-color: #0d6efd;
            }

            &.disabled {
               cursor: not-allowed;
            }

            &.item-icon-link {
               &.disabled {
                  color: #212529bf;
                  background: #e9ecef;
                  border-color: #dee2e6;
                  cursor: not-allowed;
               }
            }
         }
      }
   }

   &.primary {
      color: var(--white-color);

      .item-list {
         gap: 8px;

         .item {
            .item-link {
               display: flex;
               align-items: center;
               justify-content: center;
               min-width: 22px;
               height: 100%;
               padding: 4px 8px;
               background-color: var(--twenty-fourth-color);
               font-size: var(--fs-secondary);
               font-weight: var(--fw-quaternary);
               border-color: var(--twenty-fifth-color);
               border-radius: 4px;
               transition: var(--primary-duration);

               &:hover {
                  border-color: var(--twelfth-color);
               }

               &.active {
                  background-color: var(--twelfth-color);
                  border-color: var(--twelfth-color);
               }

               &.disabled {
                  &:hover {
                     border-color: var(--twenty-fourth-color);
                  }
               }

               &.item-icon-link {
                  min-width: 32px;
                  padding: 4px 8px;

                  &.disabled {
                     background-color: transparent;
                     border-color: var(--twenty-fifth-color);
                     opacity: 0.5;

                     &:hover {
                        border-color: var(--twenty-fifth-color);
                     }
                  }
               }
            }
         }
      }
   }
}
