.wrapper {
  --duration: 1.4s;
  --container-size: 120px;
  --box-size: 20px;
  --box-border-radius: 15%;

  .container {
    width: 100%;
    max-width: var(--container-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .item {
      width: var(--box-size);
      height: var(--box-size);
      position: relative;
      display: block;
      transform-origin: -50% center;
      border-radius: var(--box-border-radius);
    }
    .item:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #052dff;
      border-radius: var(--box-border-radius);
      box-shadow: 0px 0px 10px 0px rgba(28, 159, 255, 0.4);
    }
    .item:nth-child(1) {
      animation: loaderSlide var(--duration) ease-in-out infinite alternate;
    }
    .item:nth-child(1):after {
      animation: loaderColorChange var(--duration) ease-in-out infinite
        alternate;
    }
    .item:nth-child(2) {
      animation: loaderFlip-1 var(--duration) ease-in-out infinite alternate;
    }
    .item:nth-child(2):after {
      animation: loaderSquidge-1 var(--duration) ease-in-out infinite alternate;
    }
    .item:nth-child(3) {
      animation: loaderFlip-2 var(--duration) ease-in-out infinite alternate;
    }
    .item:nth-child(3):after {
      animation: loaderSquidge-2 var(--duration) ease-in-out infinite alternate;
    }
    .item:nth-child(4) {
      animation: loaderFlip-3 var(--duration) ease-in-out infinite alternate;
    }
    .item:nth-child(4):after {
      animation: loaderSquidge-3 var(--duration) ease-in-out infinite alternate;
    }
    .item:nth-child(5) {
      animation: loaderFlip-4 var(--duration) ease-in-out infinite alternate;
    }
    .item:nth-child(5):after {
      animation: loaderSquidge-4 var(--duration) ease-in-out infinite alternate;
    }
    .item:nth-child(2):after {
      background-color: #1c9fff;
    }
    .item:nth-child(3):after {
      background-color: #1fb1fd;
    }
    .item:nth-child(4):after {
      background-color: #22c7fb;
    }
    .item:nth-child(5):after {
      background-color: #23d3fb;
    }
  }
}

@keyframes loaderSlide {
  0% {
    background-color: #1795ff;
    transform: translatex(0vw);
  }
  100% {
    background-color: #23d3fb;
    transform: translatex(
      calc(var(--container-size) - (var(--box-size) * 1.25))
    );
  }
}
@keyframes loaderColorChange {
  0% {
    background-color: #1795ff;
  }
  100% {
    background-color: #23d3fb;
  }
}
@keyframes loaderFlip-1 {
  0%,
  15% {
    transform: rotate(0);
  }
  35%,
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes loaderSquidge-1 {
  5% {
    transform-origin: center bottom;
    transform: scaleX(1) scaleY(1);
  }
  15% {
    transform-origin: center bottom;
    transform: scaleX(1.3) scaleY(0.7);
  }
  25%,
  20% {
    transform-origin: center bottom;
    transform: scaleX(0.8) scaleY(1.4);
  }
  55%,
  100% {
    transform-origin: center top;
    transform: scaleX(1) scaleY(1);
  }
  40% {
    transform-origin: center top;
    transform: scaleX(1.3) scaleY(0.7);
  }
}
@keyframes loaderFlip-2 {
  0%,
  30% {
    transform: rotate(0);
  }
  50%,
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes loaderSquidge-2 {
  20% {
    transform-origin: center bottom;
    transform: scaleX(1) scaleY(1);
  }
  30% {
    transform-origin: center bottom;
    transform: scaleX(1.3) scaleY(0.7);
  }
  40%,
  35% {
    transform-origin: center bottom;
    transform: scaleX(0.8) scaleY(1.4);
  }
  70%,
  100% {
    transform-origin: center top;
    transform: scaleX(1) scaleY(1);
  }
  55% {
    transform-origin: center top;
    transform: scaleX(1.3) scaleY(0.7);
  }
}
@keyframes loaderFlip-3 {
  0%,
  45% {
    transform: rotate(0);
  }
  65%,
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes loaderSquidge-3 {
  35% {
    transform-origin: center bottom;
    transform: scaleX(1) scaleY(1);
  }
  45% {
    transform-origin: center bottom;
    transform: scaleX(1.3) scaleY(0.7);
  }
  55%,
  50% {
    transform-origin: center bottom;
    transform: scaleX(0.8) scaleY(1.4);
  }
  85%,
  100% {
    transform-origin: center top;
    transform: scaleX(1) scaleY(1);
  }
  70% {
    transform-origin: center top;
    transform: scaleX(1.3) scaleY(0.7);
  }
}
@keyframes loaderFlip-4 {
  0%,
  60% {
    transform: rotate(0);
  }
  80%,
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes loaderSquidge-4 {
  50% {
    transform-origin: center bottom;
    transform: scaleX(1) scaleY(1);
  }
  60% {
    transform-origin: center bottom;
    transform: scaleX(1.3) scaleY(0.7);
  }
  70%,
  65% {
    transform-origin: center bottom;
    transform: scaleX(0.8) scaleY(1.4);
  }
  100%,
  100% {
    transform-origin: center top;
    transform: scaleX(1) scaleY(1);
  }
  85% {
    transform-origin: center top;
    transform: scaleX(1.3) scaleY(0.7);
  }
}
