.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .container {
    display: flex;
    flex: 1;
    position: relative;

    .content {
      flex: 1;
      min-height: calc(100vh - var(--header-height));
      overflow-x: hidden;

      // Responsive
      @media (max-width: 768px) {
        padding: var(--gutter-top) 16px 16px 16px;
      }
    }
  }
}
